﻿@model mailchimp.Models.MailchimpModel
@{
    ViewBag.Title = "Abone ol";
}

<h2>Abone Ol</h2>
<div>
    @using (Html.BeginForm("AddSubscribe", "MailChimpMember", FormMethod.Post))
    {
        <input type="text" class="form-control " id="email" required name="email"/>
        <input type="submit" class="btn btn-success btn-sm " value="Üye ol"/>

        if (Model != null)
        {
            <span>@Model.Message</span>
        }
    }
</div>