﻿@model mailchimp.Models.MailchimpModel

@{
    ViewBag.Title = "Abone ol";
}



<h2>Abone Ol</h2>
@using (Html.BeginForm("AddSubscribe", "MailChimpMember", FormMethod.Post))
{

    <input type="text" id="email" name="email" />
    <input type="submit" value="Üye ol" />


    if (@Model != null)
    {
        <span>@Model.Message</span>
    }


}