﻿
<h2>Abone Ol</h2>

@using (Html.BeginForm("Create", "MailChimpMember", FormMethod.Post))
{
    <input type="text" id="email" class="form-control" required placeholder="E-Posta" name="email"/>
    <input type="text" id="fname" class="form-control" placeholder="Adınız" name="fname"/>
    <input type="text" id="lname" class="form-control" placeholder="Soyadınız" name="lname"/>

    <input type="submit" class="btn btn-success btn-sm " value="Üye ol"/>

 
}