﻿@model MailChimp.Net.Models.Member
@{
    ViewBag.Title = "Üye Detayı";
}

<h2>@Model.EmailAddress için Üyelik Bilgileri</h2>

<d1 class="row">
    <dt class="col-md-3 text-right">ID</dt>
    <dt class="col-md-9"><a href=""></a> @Model.Id</dt>
    <dt class="col-md-3 text-right">Eşsiz Eposta ID</dt>
    <dt class="col-md-9">@Model.UniqueEmailId</dt>
    <dt class="col-md-3 text-right">Adı</dt>
    <dt class="col-md-9">@Model.MergeFields["FNAME"]</dt>
    <dt class="col-md-3 text-right">SOYAD</dt>
    <dt class="col-md-9">@Model.MergeFields["LNAME"]</dt>
    <dt class="col-md-3 text-right">Durum</dt>
    <dt class="col-md-9">@Model.Status</dt>
    <dt class="col-md-3 text-right">Üyelik Tarihi</dt>
    <dt class="col-md-9">@Model.TimestampSignup</dt>
    <dt class="col-md-3 text-right">Eposta</dt>
    <dt class="col-md-9">@Model.EmailAddress</dt>
    <dt class="col-md-3 text-right">Son Değişiklik</dt>
    <dt class="col-md-9">@Model.LastChanged</dt>
</d1>
<d1 class="row">
    @Html.ActionLink("Sil","Delete",new {id=@Model.Id},new {@class="btn btn-danger btn-sm"})
    @Html.ActionLink("Güncelle","Update",new {id=@Model.EmailAddress},new {@class="btn btn-success btn-sm"})
</d1>
</d1>
