﻿@model IEnumerable<MailChimp.Net.Models.Member>
@{
    ViewBag.Title = "Aboneler";
}


<h2>@ViewBag.ListId için Abone Tablosu</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <td>ID</td>
            <td>EPosta</td>
            <td>AD</td>
            <td>SOYAD</td>
            <td>Durum</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.ActionLink(item.Id, "Detail", new { id = item.Id })</td>
                <td>@item.EmailAddress</td>
                <td>@item.MergeFields["FNAME"]</td>
                <td>@item.MergeFields["LNAME"]</td>
                <td>@item.Status</td>
            </tr>
        }
    </tbody>
</table>