﻿@model IEnumerable<MailChimp.Net.Models.Campaign>
@{
    ViewBag.Title = "Gönderilen Kampanyalar";
}

<h2>@ViewBag.ListId Numaralı Kampanya</h2>

<table class="table table-striped table-bordered">
    
    <thead>
    <tr>
        <th>S.NO</th>
        <th>Konu</th>
        <th>Gönderilen E-Posta</th>
        <th>Görüntüleme</th>
    </tr>

    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Settings.Title</td>
            <td>@item.EmailsSent</td>
            <td><a href="@item.ArchiveUrl" target="_viewCampaign">Gör &raquo;</a></td>

        </tr>
    }
    </tbody>
</table>